.header {
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;

    &__logo {
        height: 68px;
    }
}

.navbar {
    display: flex;
    font-weight: 500;
    font-size: 24px;
    align-items: center;
    gap: 55px;

    &__button {
        color: $primary-color;

        &--selected {
            text-decoration-line: underline;
        }
    }
}
