.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 10px;

    @include mobile-tablet {
        margin-top: 30px;
    }

    &__loader {
        animation: spin 1200ms ease-in-out infinite;
    }

    &__appear {
        animation: appear 1200ms ease-in-out infinite;
        opacity: 0;
    }
}
