.slideshow {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    aspect-ratio: 248 / 83;
    border-radius: 25px;
    background-size: cover;
    background-position: center;
    pointer-events: none;

    @include mobile-only {
        aspect-ratio: 67 / 51;
    }

    @include tablet-only {
        aspect-ratio: 67 / 40;
    }

    svg {
        margin: 0 20px;
        cursor: pointer;
        pointer-events: all;

        @include mobile-only {
            transform: scale(25%, 25%);
            margin: 0 -10px;
        }

        @include tablet-only {
            transform: scale(75%, 75%);
            margin: 0 10px;
        }
    }

    &__count {
        color: white;
        font-size: 18px;
        font-weight: 500;
        align-self: end;
        margin: 15px 0;
        pointer-events: none;

        @include mobile-only {
            display: none;
        }
    }
}
