.tagsContainer {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    color: $secondary-color;
    margin-top: 20px;

    @include mobile-only {
        flex-flow: row wrap;
        margin-top: 12px;
    }

    &__tag {
        border-radius: 10px;
        background-color: $primary-color;
        padding: 5px 30px;
        font-weight: 500;
        font-size: 14px;
        text-align: center;

        @include mobile-only {
            padding: 5px;
            font-size: 10px;
            border-radius: 5px;
            white-space: nowrap;
            max-width: 100%;
            width: 100px;
        }
    }
}
