.error {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    padding: 50px 0;
    color: $primary-color;

    &__title {
        font-size: 288px;
        font-weight: 700;
        margin: 40px 0;
    }

    &__subtitle {
        font-weight: 500;
        font-size: 36px;
    }

    &__link {
        text-decoration-line: underline;
        font-weight: 500;
        font-size: 18px;
        color: $primary-color;
        margin-top: 180px;
    }
}
