.error {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px 0;
    color: $primary-color;

    &__title {
        font-size: 288px;
        font-weight: 700;
        margin: 40px 0;

        @include mobile-only {
            font-size: 96px;
            margin: 30px 0;
            margin-top: 80px;
        }

        @include tablet-only {
            font-size: 200px;
        }
    }

    &__subtitle {
        font-weight: 500;
        font-size: 36px;

        @include mobile-only {
            font-size: 18px;
            margin: 0 30px;
        }

        @include tablet-only {
            font-size: 30px;
            margin: 0 80px;
        }
    }

    &__link {
        text-decoration-line: underline;
        font-weight: 500;
        font-size: 18px;
        color: $primary-color;
        margin-top: 180px;

        @include mobile-only {
            font-size: 14px;
        }

        @include mobile-tablet {
            margin-top: 130px;
        }
    }
}
