.room {
    margin: 0 100px;
    color: $primary-color;

    @include mobile-only {
        margin: 0 20px;
    }

    @include tablet-only {
        margin: 0 50px;
    }

    &__sidesContainer {
        display: flex;
        flex-flow: row nowrap;
        margin-top: 25px;

        @include mobile-tablet {
            flex-flow: column nowrap;
            margin: 0;
        }
    }

    &__leftSide {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: flex-start;

        @include mobile-tablet {
            margin: 0;
            margin-top: 5px;
        }

        &__title {
            font-weight: 500;
            font-size: 36px;
            margin: 10px 0;

            @include mobile-only {
                font-size: 18px;
            }
        }

        &__location {
            font-weight: 500;
            font-size: 18px;

            @include mobile-only {
                font-size: 14px;
            }
        }
    }

    &__rightSide {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;
        gap: 60px;
        margin-top: 20px;
        max-width: 50%;

        @include mobile-tablet {
            flex-flow: row-reverse nowrap;
            justify-content: space-between;
            align-items: center;
            max-width: 100%;
            margin-top: 5px;
        }

        @include tablet-only {
            margin-top: 15px;
        }

        &__owner {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;

            &__name {
                font-weight: 500;
                font-size: 18px;
                word-spacing: 9999999px;
                text-align: end;
                margin: 10px;
                line-height: 22px;

                @include mobile-only {
                    font-size: 12px;
                    line-height: 18px;
                }
            }

            &__img {
                border-radius: 50%;
                height: 64px;
                object-fit: cover;

                @include mobile-only {
                    height: 32px;
                }
            }
        }
    }

    &__sliderContainer {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        gap: 70px;

        @include mobile-tablet {
            flex-flow: column nowrap;
            gap: 0px;
        }
    }
}
